<!DOCTYPE html>
<html ng-app="indexApp">
<head>
    <meta chatset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="/csslibs/bootstrap.min.css">
    <script src="/jslibs/angular.min.js"></script>
    <script src="/jslibs/angular-route.js"></script>
    <script src="/jslibs/ui-bootstrap-tpls-1.0.3.min.js"></script>
    <script src="/js/router.js"></script>
    <script src="/js/service.js"></script>
    <script src="/js/controller.js"></script>
</head>
<body>
    <div ng-view></div>
</body>
</html>