doctype html
html
    head
        meta(chatset="UTF-8")
        title= 主页
        script(src="/jslibs/angular.min.js")
        script(src="/jslibs/angular-animate.min.js")
        script(src="/jslibs/ui-bootstrap-tpls-1.0.3.min.js")
        link(rel="stylesheet", href="/csslibs/bootstrap.min.css")
    body
        h1 Login